/* =============== ЗМІННІ =============== */

:root {
  --primary-text-color-ligth-theme: #22343d;
  --main-accent-color: #02897a;
}

/* =============== СКИДАННЯ СТИЛІВ =============== */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link-reset {
  text-decoration: none;
}

.list-reset {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

/* =============== COMPONENTS =============== */

/*   

  font-weight: ;
  font-size: ;
  line-height: ;
  color: ; 

  text-transform: ;
  
*/

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0;
  /* color: var(--primary-text-color-ligth-theme); */
}

/* body.dark-theme {
  background-color: #000000;
  color: #ffffff;
} */

.container {
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

.section {
  padding-bottom: 100px;
}

.logo {
  display: flex;
  gap: 16px;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  color: #173a56;
}

.sup-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}

.section-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}

.section-list-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color-ligth-theme);
}

.section-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color-ligth-theme);
}

.tempt-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: var(--main-accent-color);
}

/* =============== HEADER =============== */
.header {
  padding-top: 22px;
  padding-bottom: 44px;
}

.header-flex-container {
  display: flex;
}

.main-nav {
  flex-grow: 1;
  display: flex;
}

.main-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
}

.main-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--primary-text-color-ligth-theme);
}

.main-nav-link:hover,
.main-nav-link:focus {
  font-weight: 600;
}

.main-nav-btn-list {
  display: flex;
  align-items: center;
  gap: 24px;
  margin: 0 24px;
}

.btn-sign-in {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #173a56;
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: transparent;
}

.btn-sign-up {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  background-color: var(--main-accent-color);
}

.theme-icon {
  margin-top: 6px;
}

/* =============== HERO =============== */

.hero-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}

.hero-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--primary-text-color-ligth-theme);
}

.hero-video-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main-accent-color);
}

/* =============== FEATURES =============== */

.features-title {
  width: 539px;
  padding: 0 10px;
  margin: 0 auto 50px auto;
  text-align: center;
}

.features-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

.features-list > li {
  flex-basis: calc((100% - 90px) / 4);
}

.features-item-title {
  margin-bottom: 13px;
  font-weight: 600;
  font-size: 22px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}

.features-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: var(--primary-text-color-ligth-theme);
}

.features-btn {
  display: block;
  padding: 15px 32px 14px 34px;
  margin: 0 auto;
  text-transform: uppercase;
}

/* =============== TEAM =============== */

.team-title {
  text-align: center;
}

.team-text {
  font-weight: 500;
  text-align: center;
}

.team-list-item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: #2f281e;
}

/* =============== STRATEGIES =============== */
.strat-title {
  font-size: 34px;
  text-transform: capitalize;
}

.strat-text {
  font-weight: 500;
}

.strat-cart-date {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--primary-text-color-ligth-theme);
}

.strat-cart-author {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.75;
  color: var(--primary-text-color-ligth-theme);
}

.strat-cart-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: var(--primary-text-color-ligth-theme);
}

/* =============== PRICE =============== */

.price-title {
  font-size: 34px;
  text-transform: capitalize;
  text-align: center;
}

.price-text {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

.price-list-item {
  width: 322px;
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-list-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: var(--primary-text-color-ligth-theme);
}
.price-list-desc {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: var(--primary-text-color-ligth-theme);
}
.price-list-amount {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.3;
  letter-spacing: 0.2px;
  color: var(--main-accent-color);
}
.price-list-dollar {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0.1px;
  color: var(--main-accent-color);
}
.price-list-period {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.1px;
  color: #afafaf;
}
.price-sublist-cond {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.2px;
  color: var(--primary-text-color-ligth-theme);
}
.price-list-btn {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: var(--main-accent-color);
}

/* =============== REVIEWS =============== */
.reviews-title {
  line-height: 1.78;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: capitalize;
}
.reviews-text {
  max-width: 537px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  text-align: center;
  color: var(--primary-text-color-ligth-theme);
}
.reviews-list {
}
.reviews-list-item {
}
.reviews-list-item-quote {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.2px;
  color: #737373;
}
.reviews-list-item-img {
}
.reviews-list-item-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2px;
  color: var(--main-accent-color);
}
.reviews-list-item-author-prof {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #252b42;
}

/* =============== PROMO =============== */
.promo {
  max-width: 968px;
  margin: 0 auto;
  border-radius: 32px;
  background-color: var(--main-accent-color);
}

.promo-text {
  font-weight: 600;
  font-size: 32px;
  line-height: 151.4%;
  color: #ffffff;
}

.promo-btn {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  color: var(--main-accent-color);
  background-color: #ffffff;
}

.promo-img {
}

/* =============== FOOTER =============== */

.footer-list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}

.footer-list-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: var(--primary-text-color-ligth-theme);
}

.footer-promo-text {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-text-color-ligth-theme);
}
.footer-btn {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 8px;
  color: #ffffff;
  background-color: var(--main-accent-color);
}
.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.89;
  text-align: center;
  color: var(--primary-text-color-ligth-theme);
}
